---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="mb-6 text-3xl font-bold">Blog</h1>
  <p>
    Welcome to my blog! Here, I share my thoughts on web development,
    programming, and technology.
  </p>
</MainLayout>
