@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/forms";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "JetBrains Mono Variable", monospace;
}

@theme {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-rotate: spin 3s linear infinite;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--starwind-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--starwind-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-accent: var(--primary-accent);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-accent: var(--secondary-accent);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-outline: var(--outline);

  --radius-xs: calc(var(--radius) - 0.375rem);
  --radius-sm: calc(var(--radius) - 0.25rem);
  --radius-md: calc(var(--radius) - 0.125rem);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.25rem);
  --radius-2xl: calc(var(--radius) + 0.5rem);
  --radius-3xl: calc(var(--radius) + 1rem);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-outline: var(--sidebar-outline);
}

:root {
  --background: hsl(220 23.0769% 94.902%);
  --foreground: hsl(233.7931 16.0221% 35.4902%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(233.7931 16.0221% 35.4902%);
  --popover: hsl(222.8571 15.9091% 82.7451%);
  --popover-foreground: hsl(233.7931 16.0221% 35.4902%);
  --primary: hsl(217.1681 91.8699% 75.8824%);
  --primary-foreground: hsl(0 0% 100%);
  --primary-accent: hsl(217.1681 91.8699% 75.8824%);
  --secondary: hsl(222.8571 15.9091% 82.7451%);
  --secondary-foreground: hsl(233.7931 16.0221% 35.4902%);
  --secondary-accent: hsl(222.8571 15.9091% 82.7451%);
  --muted: hsl(220 20.6897% 88.6275%);
  --muted-foreground: hsl(232.8 10.3734% 47.2549%);
  --accent: hsl(217.1681 91.8699% 75.8824%);
  --accent-foreground: hsl(0 0% 100%);
  --info: var(--color-sky-300);
  --info-foreground: var(--color-sky-950);
  --success: var(--color-green-300);
  --success-foreground: var(--color-green-950);
  --warning: var(--color-amber-300);
  --warning-foreground: var(--color-amber-950);
  --error: var(--color-red-700);
  --error-foreground: var(--color-neutral-50);
  --border: hsl(225 13.5593% 76.8627%);
  --input: hsl(222.8571 15.9091% 82.7451%);
  --outline: var(--color-neutral-400);
  --radius: 0.35rem;

  /* sidebar variables */
  --sidebar-background: var(--color-neutral-50);
  --sidebar-foreground: var(--color-neutral-950);
  --sidebar-primary: var(--color-blue-700);
  --sidebar-primary-foreground: var(--color-neutral-50);
  --sidebar-accent: var(--color-neutral-100);
  --sidebar-accent-foreground: var(--color-neutral-900);
  --sidebar-border: var(--color-neutral-200);
  --sidebar-outline: var(--color-neutral-400);
}

.dark {
  --background: hsl(240 21.3115% 11.9608%);
  --foreground: hsl(226.1538 63.9344% 88.0392%);
  --card: hsl(240 21.0526% 14.902%);
  --card-foreground: hsl(226.1538 63.9344% 88.0392%);
  --popover: hsl(234.2857 13.2075% 31.1765%);
  --popover-foreground: hsl(226.1538 63.9344% 88.0392%);
  --primary: hsl(217.1681 91.8699% 75.8824%);
  --primary-foreground: hsl(240 21.0526% 14.902%);
  --primary-accent: hsl(217.1681 91.8699% 75.8824%);
  --secondary: hsl(232.5 12% 39.2157%);
  --secondary-foreground: hsl(226.1538 63.9344% 88.0392%);
  --secondary-accent: hsl(232.5 12% 39.2157%);
  --muted: hsl(230.5263 18.8119% 19.8039%);
  --muted-foreground: hsl(227.6471 23.6111% 71.7647%);
  --accent: hsl(217.1681 91.8699% 75.8824%);
  --accent-foreground: hsl(240 21.3115% 11.9608%);
  --info: var(--color-sky-300);
  --info-foreground: var(--color-sky-950);
  --success: var(--color-green-300);
  --success-foreground: var(--color-green-950);
  --warning: var(--color-amber-300);
  --warning-foreground: var(--color-amber-950);
  --error: var(--color-red-800);
  --error-foreground: var(--color-neutral-50);
  --border: hsl(236.8421 16.2393% 22.9412%);
  --input: hsl(236.8421 16.2393% 22.9412%);
  --outline: var(--color-neutral-500);

  /* sidebars variables */
  --sidebar-background: var(--color-neutral-900);
  --sidebar-foreground: var(--color-neutral-50);
  --sidebar-primary: var(--color-blue-700);
  --sidebar-primary-foreground: var(--color-neutral-50);
  --sidebar-accent: var(--color-neutral-800);
  --sidebar-accent-foreground: var(--color-neutral-100);
  --sidebar-border: var(--color-neutral-800);
  --sidebar-outline: var(--color-neutral-600);
}

@layer base {
  * {
    @apply border-border outline-outline/50;
  }
  body {
    @apply bg-background text-foreground scheme-light dark:scheme-dark;
  }
  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-accent) transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: color-mix(in oklch, currentColor, var(--color-mantle));
  }

  .link-underline {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--color-primary-accent);
    text-decoration-style: dashed;
    &:hover {
      background-color: var(--color-primary);
      color: var(--color-primary-foreground);
      transition:
        color 0.2s ease-in-out,
        background-color 0.5s ease-in-out;
    }
  }
}
