---
import CurrentTimeASCII from "@/components/CurrentTimeASCII.tsx";
import Hero from "@/components/Hero.astro";
import Miscellaneous from "@/components/Miscellaneous.astro";
import Projects from "@/components/Projects.astro";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
  <main class="mt-12">
    <div class="mx-auto max-w-6xl">
      <section
        class="6xl:flex-row 6xl:items-baseline mt-12 flex flex-col items-center justify-between gap-16"
      >
        <Hero />
        <CurrentTimeASCII client:idle />
      </section>

      <section class="mt-12">
        <Projects />
      </section>

      <section class="mt-12 mb-12">
        <Miscellaneous />
      </section>
    </div>
  </main>
</MainLayout>
