---
import ArrowRight from "@/icons/ArrowRight.astro";
import Github from "@/icons/Github.astro";
import Linkedin from "@/icons/Linkedin.astro";
import Separator from "./starwind/separator";
---

<div>
  <h1 class="text-3xl font-bold md:text-4xl">
    Hey! I'm <span class="text-primary">Mateusz Irski</span>
  </h1>
  <p class="mt-4 max-w-prose text-lg leading-relaxed">
    I am currently studying at
    <span
      ><a
        href="https://www.put.poznan.pl/en/"
        class="link-underline"
        target="_blank">Poznań University of Technology</a
      ></span
    >. I've written software that solved real problems, really well. Let's build
    something amazing together!
  </p>
  <div class="text-muted-foreground mt-8 flex items-center gap-4 text-sm">
    <a
      href="https://github.com/Matthieusz"
      target="_blank"
      class="hover:text-primary flex items-center gap-2 transition-colors duration-250"
      ><Github size={20} color="var(--foreground)" />Github</a
    >

    <Separator orientation="vertical" class="h-5" />

    <a
      href="https://www.linkedin.com/in/mateusz-irski-61a593248/"
      target="_blank"
      class="hover:text-primary flex items-center gap-2 transition-colors duration-250"
      ><Linkedin size={20} color="var(--foreground)" />LinkedIn</a
    >

    <Separator orientation="vertical" class="h-5" />

    <a
      href="/about"
      class="hover:text-primary flex items-center gap-2 transition-colors duration-250"
    >
      More about me
      <ArrowRight size={20} color="var(--foreground)" />
    </a>
  </div>
</div>
