---
import LocationMap from "./LocationMap.astro";
import RecentCommits from "./RecentCommits.astro";
import SpotifyNowPlaying from "./SpotifyNowPlaying.astro";
import TicTacToe from "./TicTacToe.tsx";
---

<h2 class="mb-4 flex items-center gap-2 text-3xl font-bold md:text-4xl">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 24 24"
    fill="none"
    stroke="var(--primary)"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="icon icon-tabler icons-tabler-outline icon-tabler-hash"
    ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
      d="M5 9l14 0"></path><path d="M5 15l14 0"></path><path d="M11 4l-4 16"
    ></path><path d="M17 4l-4 16"></path></svg
  >Miscellaneous
</h2>
<div class="mb-8 flex flex-col gap-4">
  <div
    class="6xl:grid-cols-5 grid grid-cols-1 items-stretch gap-4 md:grid-cols-4"
  >
    <div class="md:col-span-2">
      <SpotifyNowPlaying />
    </div>
    <div class="md:col-span-2">
      <LocationMap />
    </div>
    <div class="6xl:col-span-1 md:col-span-2">
      <TicTacToe client:idle />
    </div>
  </div>
  <div class="6xl:grid-cols-2 grid grid-cols-1 items-stretch gap-4">
    <div>
      <RecentCommits />
    </div>
  </div>
</div>
