---
import Hashtag from "@/icons/Hashtag.astro";
import LocationMap from "./LocationMap.astro";
import RecentCommits from "./RecentCommits.tsx";
import RecentPosts from "./RecentPosts.astro";
import SpotifyNowPlaying from "./SpotifyNowPlaying.tsx";
import TicTacToe from "./TicTacToe.tsx";
---

<h2 class="mb-4 flex items-center gap-2 text-3xl font-bold md:text-4xl">
  <Hashtag />
  Miscellaneous
</h2>
<div class="mb-8 flex flex-col gap-4">
  <div
    class="6xl:grid-cols-5 grid grid-cols-1 items-stretch gap-4 md:grid-cols-4"
  >
    <div class="md:col-span-2">
      <SpotifyNowPlaying client:idle initialData={null} />
    </div>
    <div class="md:col-span-2">
      <LocationMap />
    </div>
    <div class="6xl:col-span-1 md:col-span-2">
      <TicTacToe client:idle />
    </div>
  </div>
  <div
    class="6xl:grid-cols-2 grid grid-cols-1 items-stretch gap-4 md:grid-cols-2"
  >
    <div>
      <RecentCommits client:idle initialData={null} />
    </div>
    <div>
      <RecentPosts />
    </div>
  </div>
</div>
