---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="mb-6 text-3xl font-bold">Projects</h1>
  <p>
    Here are some of the projects I've worked on. Feel free to explore and reach
    out if you'd like to collaborate!
  </p>
</MainLayout>
