---
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

<MainLayout>
  <h1 class="mb-6 text-3xl font-bold">Projects</h1>
  <p>
    Here are some of the projects I've worked on. Feel free to explore and reach
    out if you'd like to collaborate!
  </p>
  <ul>
    {
      projects.map((project) => (
        <li class="mb-4">
          <a
            href={`/projects/${project.slug}`}
            class="text-primary text-xl font-semibold hover:underline"
          >
            {project.data.title}
          </a>
          <p class="text-muted-foreground mt-1">{project.data.description}</p>
        </li>
      ))
    }
  </ul>
</MainLayout>
