---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
---

<html
  lang="en"
  class="dark selection:bg-primary/30 selection:text-primary/80 caret-accent scrollbar font-mono"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Mateusz Irski</title>
    <ClientRouter />
  </head>
  <body class="min-h-screen">
    <Header transition:name="site-header" />
    <div class="mx-auto flex min-h-screen max-w-[90%] flex-col md:max-w-[80%]">
      <slot />
      <Footer transition:name="site-footer" />
    </div>
  </body>
</html>
